<!-- <ul>
    <li>
        <button *ngIf="isAuth" (click)="logout()">Log Out</button>
    </li>
</ul> -->
<mat-toolbar>

    <mat-toolbar-row>
        <h1 routerLink="/" style="cursor: pointer;" matTooltip="Inicio">
            App-Test-Tecnic
        </h1>
        <span class="example-spacer"></span>
        <button *ngIf="!isAuth" mat-flat-button routerLink="/auth/login" color="primary">
            Iniciar sesión
        </button>
        <button *ngIf="!isAuth" mat-button routerLink="/auth/signup" color="primary">
            Registrarme
        </button>
        <button *ngIf="isAuth" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon aria-label="Example thumbs up SVG icon" aria-hidden="false">
                account_circle
            </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/account/profile">
                Perfil
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
                Cerrar sesión
            </button>

        </mat-menu>

    </mat-toolbar-row>

</mat-toolbar>