<form>

    <!-- open-photo-field -->

    <div class="avatar-profile">
        <p>change</p>
        <img (click)="inputImageProfile.click()" alt=""
        [ngStyle]=" { 
            'background-image': 'url('+currentImage+')',
            'width': '400px', 'height': '400px',
            'background-size': 'cover', 'background-position' : 'center'  } ">
    </div>


    <input hidden type="file" #inputImageProfile name="photoURL" (change)="handleImage( ($event?.target?.files)[0] )">
    <!-- close-photo-field -->

    <!-- open-name-field -->
    <input type="text" placeholder="Name" name="name" [(ngModel)]="authModel.name" [formControl]="name" required>
    <span *ngIf="submitted && name.invalid"> {{ getErrorsName() }} </span>
    <!-- close-name-field -->

    <!-- open-lastname-field -->
    <input type="text" placeholder="lastname" name="lastname" [(ngModel)]="authModel.lastname" [formControl]="lastname"
        required>
    <span *ngIf="submitted && lastname.invalid"> {{ getErrorsLastname() }} </span>
    <!-- close-lastname-field -->

    <!-- open-email-field -->
    <input type="email" placeholder="email" name="email" [(ngModel)]="authModel.email" [formControl]="email" required>
    <span *ngIf="submitted && email.invalid"> {{ getErrorsEmail() }} </span>
    <!-- close-email-field -->

    <!-- open-password-field -->
    <!-- <input type="password" placeholder="password" name="password" [(ngModel)]="authModel.password" [formControl]="password" required>
    <span *ngIf="submitted && password.invalid"> {{ getErrorsPassword() }} </span> -->
    <!-- close-password-field -->

    <!-- open-description-field -->
    <textarea type="text" name="description" placeholder="Description" id="description" cols="30" rows="10" [(ngModel)]="authModel.description"></textarea>
    <!-- close-description-field -->
    
    <!-- open-birth-field -->
    <input type="date" placeholder="birth" name="birth" [(ngModel)]="authModel.birth" [formControl]="birth" required>
    <span *ngIf="submitted && birth.invalid"> {{ getErrorsBirth() }} </span>
    <!-- close-birth-field -->

    <!-- open-submit-field -->
    <input type="submit" (click)="update()" value="Update">
    <!-- close-submit-field -->

</form>


<app-my-posts></app-my-posts>