/* --- open-mat-spinner --- */
.overlay-mat-spinner {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color-white);
}
/* --- close-mat-spinner --- */

/* --- open-contianer --- */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 5em auto;
}
/* --- close-contianer --- */