<h1 mat-dialog-title> Editando post </h1>
<div mat-dialog-content>
    <p>¡Estás a punto de actualizar un post!.</p>
    <mat-form-field>
        <mat-label>Nueva descripción</mat-label>
        <input matInput [(ngModel)]="postModel.description">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
    <button mat-button (click)="updatePostOne()">Actualizar post</button>
    <button mat-button cdkFocusInitial (click)="onNoClick()">Cerrar</button>
</div>