mat-card {
    margin: 1em 0;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, .2), 0 1px 3px 0 rgba(0, 0, 0, .14), 0 5px 10px 0 rgba(0, 0, 0, .5) !important;
}

mat-card mat-card-header>div>svg {
    width: 112px;
    height: 112px;
}

mat-card mat-card-footer {
    padding: 1em;
}

.mat-list-container {
    position: relative;
}
.mat-spinner-load-posts {
    transition: all 1s;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0; bottom: 0; left: 0; bottom: 0; right: 0;
    background: #fff;
    opacity: 0;
    visibility: hidden;
}
.mat-spinner-load-posts.active {
    opacity: 1;
    visibility: visible;
}