<mat-card>

    <form>

        <!-- open-description-field -->
        <mat-form-field>
            <mat-label>
                {{ isAuth ? 'Piensas en algo?, ¡postéalo!' : 'Piensas en algo?, ¡Registrate!'  }}
            </mat-label>
            <textarea type="text" matInput [(ngModel)]="postModel.description" name="description"></textarea>
        </mat-form-field>
        <!-- close-description-field -->

    </form>

    <mat-card-actions>

        <!-- open-submit-field -->
        <button mat-button (click)="isAuth ? createPost() : gotToLogin()" type="submit" color="primary"
            mat-flat-button>{{ isAuth ? 'Publish' : 'Sign Up' }} </button>
        <!-- close-submit-field -->

    </mat-card-actions>

</mat-card>